.support-form {
  margin-bottom: 5em;
}

.form {
  margin: 0 auto;
  margin-top: 2em;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.form-input {
  margin: -0.5px;
  padding: 0.75em 0.5em;
  font-size: 1em;
  border: var(--border);
}

.form-input:nth-child(1) {
  border-top-left-radius: 1em;
}
.form-input:nth-child(2) {
  border-top-right-radius: 1em;
}

.select {
  color: inherit;
}

.form-btn {
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.3em;
  grid-area: 3 / 1 / 4 / 3;
  background: var(--blue);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.form-btn:hover {
  letter-spacing: 0.5em;
}

.thanks {
  text-align: center;
}

@media (max-width: 840px) {
  .form {
    width: 90%;
  }
}
@media (max-width: 540px) {
  .form {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .form-input {
    width: 93%;
  }
  .select {
    width: 101%;
  }
}
