.support {
  margin-bottom: 3em;
}

.support-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.support-buttons {
  position: relative;
  border-radius: 1em;
  border: var(--border);
}

.support-button {
  position: relative;
  padding: 0.5em 1em;
  font-size: 0.8em;
  transition: 0.4s;
}

.support-button.active {
  color: #fff;
}

.marker {
  position: absolute;
  left: 0;
  height: 100%;
  width: 2.78em;
  background: var(--blue);
  transition: 0.4s;
  border-radius: inherit;
}

.support-line {
  margin-bottom: 1.5em;
}

.support-number {
  display: block;
  padding-bottom: 1em;
}

.support-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 840px) {
  .support-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 450px) {
  .support-list {
    font-size: 0.8em;
    grid-template-columns: repeat(3, 1fr);
  }
}
