.person {
  margin: -0.5px;
  padding: 0.75em 0.5em;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  border: var(--border);
}

.person-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.person-info.name {
  margin: 0.2em 0;
  line-height: 1.1;
}

.person-info.town,
.person-info.role {
  color: var(--light-gray);
  font-size: 0.8em;
}

@media (max-width: 840px) {
  .person {
    padding: 0.5em;
  }
}
