@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  outline: none;
  border: none;
}
ol,
ul {
  list-style: none;
}
button,
select,
input {
  font-family: inherit;
  background: none;
  border: none;
  outline: none;
}

:root {
  --border: 1px solid rgb(229, 229, 229);
  --gray: rgba(0, 0, 0, 0.7);
  --light-gray: rgba(0, 0, 0, 0.4);
  --blue: rgb(0, 132, 255);
}

p {
  color: var(--gray);
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.line {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 840px) {
  body {
    font-size: 1rem;
  }
}
@media (max-width: 580px) {
  body {
    font-size: 0.9rem;
  }
  .container {
    width: 90%;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 0.8rem;
  }
}
